body {
}

.weather-main-container {
    text-align: center;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.date-container {
    font-size: 1.125rem;
    opacity: 0.65;
}

.temperature-container {
    font-size: 6rem;
}

.description-container {
    font-size: 1.5rem;
}
